@use '../abstracts/variables' as *;

.about-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.about-content {
  width: 100%;
  height: 100%;
}

.about-section-1 {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $bg-color;
  gap: 2rem;
  padding: 2rem;
}

.avatar {
  width: 150px; 
  height: 150px;    
  border-radius: 50%; 
  border: 4px solid $white-color; 
  object-fit: cover; 
  z-index: $z-avatar;
}

.about-text {
  text-align: center;
  z-index: $z-text;
}

.about-text-heading {
  font-size: $fs-2xl;
}

.about-text-subheading {
  font-size: $fs-lg;
}

///* Desktop */
//@media (min-width: $bp-lg) {
//  
//  .about-content {
//    width: 100%;
//    height: 100%;
//  }
//}