@use '../abstracts/variables' as *;

.home-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow: clip;
  background-color: $bg-color;
}

#models-container {
  width: 100%;
  height: 100%;
  z-index: $z-characters;
  pointer-events: none;
}

/* Desktop */
@media (min-width: $bp-lg) {
  
  .home-content {
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  .home-content-left {
    width: 50%;
    height: 100%;
  }

  .home-content-right {
    position: relative;
    width: 50%;
    height: 100%;
  }

  #models-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}