@use '../abstracts/variables' as *;

.home-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow: clip;
  background-color: $bg-color;
}

#models-container {
  width: 100%;
  height: 100%;
  z-index: $z-characters;
  pointer-events: none;
}

.pattern-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
                  -45deg,
                  transparent,
                  transparent 20px,
                  rgba(255, 255, 255, 0.15) 20px,
                  rgba(255, 255, 255, 0.15) 40px
  );
  z-index: $z-shapes-front;
  pointer-events: none; /* Prevent it from blocking clicks */
}

/* Desktop */
@media (min-width: $bp-lg) {
  
  .home-content {
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  .home-content-left {
    width: 50%;
    height: 100%;
  }

  .home-content-right {
    position: relative;
    width: 50%;
    height: 100%;
  }

  #models-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}