@use '../abstracts/variables' as *;

.pattern-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
                  -45deg,
                  transparent,
                  transparent 20px,
                  rgba(255, 255, 255, 0.15) 20px,
                  rgba(255, 255, 255, 0.15) 40px
  );
  z-index: $z-pattern-cover;
  pointer-events: none;
  
  &-absolute {
    position: absolute;
  }
}