@use '../abstracts/variables' as *;

.footer {
  position: relative; /* Ensure the pattern-cover-absolute is positioned relative to the footer */
  width: 100%;
  height: 3rem;
  background-color: $black-color;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white-color;
  margin-top: 2rem;
  z-index: $z-footer;

  &-downloads {
    margin-top: 0;
  }

  .footer-text {
    font-size: $fs-xs;
    color: $white-color;
  }
}


/* Desktop */
@media (min-width: $bp-lg) {

  .footer {
    &-downloads {
      position: absolute;
      bottom: 0;
    }
  }

}

