@use '../abstracts/variables' as *;

.models-image {
  position: absolute;
  left: 50%;
  bottom: -35dvh;
  transform: translateX(-50%);
  width: 125vw;
  max-width: 500px;
  height: auto;
  display: none;
  z-index: inherit;
  animation: bounce-mobile 10s ease-in-out infinite;
  will-change: transform, filter;
}

@keyframes bounce-mobile {
  0%, 100% {
    transform: translateX(-50%) translateY(0);
    filter: drop-shadow(0 0 0 transparent);
  }
  16.67% {
    transform: translateX(-50%) translateY(-15px);
    filter: drop-shadow(0 0 20px $pink-color-1)
  }
  33.33% {
    transform: translateX(-50%) translateY(0);
    filter: drop-shadow(0 0 0 transparent);
  }
  50% {
    transform: translateX(-50%) translateY(-15px);
    filter: drop-shadow(0 0 20px $pink-color-1)
  }
  66.67% {
    transform: translateX(-50%) translateY(0);
    filter: drop-shadow(0 0 0 transparent);
  }
  83.33% {
    transform: translateX(-50%) translateY(-15px);
    filter: drop-shadow(0 0 20px $pink-color-1)
  }
}


/* Desktop */
@media (min-width: $bp-lg) {

  .models-image {
    position: relative;
    transform: none;
    left: initial;
    bottom: initial;
    max-width: 850px;
    display: none;
    z-index: inherit;
    animation: bounce-desktop 3.5s ease-in-out infinite, fade-in-out-desktop 5s ease-in infinite;
  }
}

@keyframes bounce-desktop {
  0%, 100% {
    transform: translateY(27%);
    filter: drop-shadow(0 0 0 transparent);
  }
  50% {
    transform: translateY(25%);
    filter: drop-shadow(0 0 20px $pink-color-1)
  }
}

@keyframes fade-in-out-desktop {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 100;
  }
  50% {
    opacity: 100;
  }
  75% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
