@use '../abstracts/variables' as *;

#nav-switch {
  position: fixed;
  z-index: $z-nav;
  top: 0;
  right: 0;
  width: 90px;
  transform: translate3d(0, 0, 0);
  cursor: pointer;

  &::after {
    content: "";
    position: fixed;
    z-index: 0;
    display: block;

    // One source of truth
    --flower-size: clamp(150px, 25vw, 250px);
    --flower-offset: calc(var(--flower-size) * -0.44);

    width: var(--flower-size);
    height: var(--flower-size);
    top: var(--flower-offset);
    right: var(--flower-offset);

    background: url(../assets/images/shapes/white-flower.webp) no-repeat right top / 100% auto;
    animation: bg_nav_rotate 30s linear infinite;
  }

}

#header {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: $z-header;
  opacity: 1;
  background-color: $white-color;
}

.header-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(1rem, 3vh, 2rem); // scales with viewport HEIGHT
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  // nav item styles
}

.nav-item-text {
  font-size: $fs-xl;
  text-transform: uppercase;
  text-align: center;
}

.header-logo {
  width: clamp(325px, 60vw, 600px);
  min-width: 325px;
  max-width: 600px;
  flex-shrink: 0; // important if this is a flex item
  height: auto;
}






@keyframes bg_nav_rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
