@use '../abstracts/variables' as *;

#nav_switch {
  position: fixed;
  z-index: $z-nav;
  top: 0;
  right: 0;
  width: 90px;
  transform: translate3d(0, 0, 0);
  cursor: pointer;

  &::after {
    content: "";
    position: fixed;
    top: -95px;
    right: -95px;
    z-index: 0;
    display: block;
    width: 250px;
    height: 250px;
    background: url(../assets/images/shapes/white-flower.webp) no-repeat right top / 100% auto;
    animation: bg_nav_rotate 30s linear infinite;
  }
}

@keyframes bg_nav_rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
