@use '../abstracts/_variables' as *;

.white-shadow {
  filter: $white-shadow;
}

.square1, .circle1 {
  z-index: $z-shapes-middle;
}

.dots1, .square3, .triangle3,
.circle6, .square2 {
  z-index: $z-shapes-back;
}

.circle2,
.triangle2,
.circle4,
.square5,
.circle5,
.square4,
.triangle1 {
  display: none;
}

.square1 {
  position: absolute;
  top: -75px;
  right: -75px;
  width: 200px;
  height: 200px;
  transform: rotate(45deg);
}

.circle1 {
  position: absolute;
  right: 45px;
  top: 45px;
  width: 75px;
  height: 75px;
}

.dots1 {
  position: absolute;
  right: 75px;
  top: 425px;
  width: 75px;
  height: 75px;
}

.square3 {
  position: absolute;
  left: -75px;
  top: 0;
  width: 200px;
  height: 200px;
  transform: rotate(25deg);
}

.triangle3 {
  position: absolute;
  left: 100px;
  top: 50px;
  width: 75px;
  height: 75px;
  transform: rotate(45deg);
}

.circle6 {
  position: absolute;
  left: 100px;
  bottom: 80px;
  width: 125px;
  height: 125px;
}

.square2 {
  position: absolute;
  left: 0;
  bottom: 50px;
  width: 125px;
  height: 125px;
  transform: rotate(25deg);
}

.circle3 {
  position: absolute;
  right: -125px;
  bottom: -125px;
  width: 250px;
  height: 250px;
  z-index: $z-shapes-front;
}

/* Desktop */
@media (min-width: $bp-lg) {
  
  .circle2,
  .triangle2,
  .circle4,
  .square5,
  .circle5,
  .square4,
  .triangle1 {
    display: block;
  }

  .square1, .circle1, .circle2, .dots1, .triangle2,
  .circle5, .circle4, .square3, .triangle3, .circle6,
  .square5, .square4, .square2, .triangle1, .circle3 {
    position: absolute;
  }

  .square1, .circle1 {
    z-index: $z-shapes-middle;
  }

  .circle2, .dots1, .triangle2, .circle5, .circle4, .square3, .triangle3,
  .circle6, .square5, .square4, .square2, .triangle1 {
    z-index: $z-shapes-back;
  }

  .circle3 {
    z-index: $z-shapes-front;
  }

  .square1 {
    right: -100px;
    top: -100px;
    width: 250px;
    height: 250px;
  }

  .circle1 {
    right: 25px;
    top: 25px;
    width: 150px;
    height: 150px;
  }

  .circle2 {
    right: 125px;
    top: -250px;
    width: 325px;
    height: 325px;
  }

  .dots1 {
    right: 350px;
    top: 100px;
    width: 100px;
    height: 100px;
  }

  .triangle2 {
    right: 700px;
    top: 25px;
    width: 200px;
    height: 200px;
    transform: rotate(-45deg);
  }

  .circle5 {
    left: 600px;
    bottom: -100px;
    width: 250px;
    height: 250px;
  }

  .circle4 {
    left: 400px;
    top: -100px;
    width: 250px;
    height: 250px;
  }

  .square3 {
    left: -25px;
    top: 0;
    width: 250px;
    height: 250px;
  }

  .triangle3 {
    left: 200px;
    top: 50px;
    width: 200px;
    height: 200px;
  }

  .circle6 {
    left: 200px;
    bottom: 50px;
    width: 250px;
    height: 250px;
  }

  .square5 {
    left: 325px;
    bottom: 225px;
    width: 125px;
    height: 125px;
    transform: rotate(-10deg);
  }

  .square4 {
    left: -25px;
    bottom: 50px;
    width: 250px;
    height: 250px;
    transform: rotate(45deg);
  }

  .square2 {
    left: initial;
    right: 200px;
    bottom: 100px;
    width: 125px;
    height: 125px;
    transform: rotate(25deg);
  }

  .triangle1 {
    right: 450px;
    bottom: 50px;
    width: 200px;
    height: 200px;
    transform: rotate(-15deg);
  }

  .circle3 {
    right: -125px;
    bottom: -125px;
    width: 250px;
    height: 250px;
  }
}